<phpunit
    bootstrap="./Bootstrap.php"
    colors="false"
    verbose="true"
>
    <testsuites>
        <testsuite name="Kasjroet Test Suite">
            <directory>./</directory>
        </testsuite>
    </testsuites>
    <filter>  
        <whitelist>  
            <directory>./KasjroetTest</directory>
        </whitelist>  
    </filter>
    <!--<logging>-->
        <!--<log type="coverage-html" target="log/report" charset="UTF-8"-->
             <!--highlight="false" lowUpperBound="35" highLowerBound="70"/>-->
        <!--<log type="testdox-html" target="log/testdox.html"/>-->
    <!--</logging>-->
</phpunit>